ion-content.background-full {
    --background: url('../../../assets/images/bg2.jpg');
}

.top-form {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bot-form {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}