<ion-header translucent>
    <ion-toolbar>
        <ion-title>Điểm danh ngay</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list *ngIf="auth.diemdanhSTT">
        <ion-item lines="inset">
            <ion-label color="primary">Check all</ion-label>
            <ion-checkbox color="danger" (click)="checkAll()"></ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let item of auth.Student">
            <ion-label>{{item.tensv}}</ion-label>
            <ion-checkbox [checked]="onCheck" color="success" (ionChange)="onChange($event.target.checked, item)" slot="end" value="{{item.id}}"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-card *ngIf="!auth.diemdanhSTT">
        <ion-card-header>
            <h3>Danh sách đã điểm danh</h3>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let item of auth.daDiemDanh">
                    <ion-label>{{item.tensv}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer *ngIf="auth.diemdanhSTT" class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="diemdanh()" expand="block" color="tertiary">
            Điểm danh ngay
        </ion-button>
    </ion-toolbar>
</ion-footer>