<ion-header translucent>
    <ion-toolbar>
        <ion-title>Điểm danh ngay</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%;">
        <ion-row class="ion-justify-content-center" style="height: 100%;">
            <ion-col size=12 size-sm=10 offset-sm=1 size-md=8 offset-md=2 size-lg=6 offset-xl=4>
                <ion-list>
                    <ion-item *ngFor="let item of auth.St">
                        <ion-label>{{item.tensv}}</ion-label>
                        <input (change)="onChange($event.target.checked, item)" type="checkbox" id="{{item.id}}">
                        <!-- <ion-checkbox (onChange)="onChange($event.target.checked, item)" slot="end" value="{{item.id}}"></ion-checkbox> -->
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="auth.diemdanhSTT" class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="diemdanh()" expand="block" fill="clear" shape="round">
            Điểm danh ngay
        </ion-button>
    </ion-toolbar>
</ion-footer>